.comments {
  .comment {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 15px;
    background-color: $app-gray-2;
    color: white;

    & .comment-title {
      font-weight: bold;
    }

    & .comment-body {
      // empty
    }
  }
}
