.comments {
  .comment {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 15px;
    background-color: $gray-color;
    color: $app-white;

    & .comment-title {
      font-weight: bold;
    }
  }
}
