.comments {

  .comment {
    padding: 10px 20px 10px 20px;
    border: 1px solid;
    border-radius: 15px;
    background-color: #666666;
    color: white;

    & .comment-title {
      font-weight: bold;
    }

    & .comment-body {

    }
  }
}