<div class="container-fluid users">

    <div class="row">
        <div class="col-xs-12">
            <div class="input-group">
                <input type="search" class="form-control" ng-change="$ctrl.textFilterDidChange()" ng-model="$ctrl.textFilter" placeholder="{{ 'INPUT_TEXT_PLACEHOLDER' | translate }}">
                <span class="input-group-addon addon"  ng-click="$ctrl.resetTextFilter()">
                    <span class="fa fa-search" ng-show="!$ctrl.textFilter"></span>
                    <span class="fa fa-remove" ng-show="$ctrl.textFilter"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="row" ng-show="$ctrl.showData">
        <div class="col-xs-12" ng-repeat="user in $ctrl.dataSource track by user.id">
            <div class="row user">
                <div class="col-xs-10">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="user-label">{{ "NAME" | translate }}</div>
                            <div class="user-value">{{ ::$ctrl.getUserNameDesc(user) }}</div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="user-label">{{ "ADDRESS" | translate }}</div>
                            <div class="user-value">{{ ::$ctrl.getUserAddressDesc(user) }}</div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="user-label">{{ "EMAIL" | translate }}</div>
                            <div class="user-value">{{ ::user.email }}</div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="user-label">{{ "PHONE" | translate }}</div>
                            <div class="user-value">{{ ::user.phone }}</div>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <div class="user-label">{{ "WEBSITE" | translate }}</div>
                            <div class="user-value">{{ ::user.website }}</div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="user-label">{{ "COMPANY" | translate }}</div>
                            <div class="user-value">{{ ::$ctrl.getUserCompanyDesc(user) }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-default pull-right" ng-click="$ctrl.goToUserTodos(user, $event)">{{ "TODOS" | translate }}</button>
                    <button type="button" class="btn btn-default pull-right" ng-click="$ctrl.goToUserPosts(user, $event)">{{ "POSTS" | translate }}</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="full-width-message">{{ "LOAD_COMPLETED" | translate }}</div>
        </div>
    </div>

    <div class="full-width-message" ng-show="$ctrl.isLoadingData">{{ "LOADING" | translate }}</div>
    <div class="full-width-message" ng-show="$ctrl.hasNoData">{{ "NO_RESULT" | translate }}</div>
    <div class="full-width-message" ng-show="$ctrl.shouldRetry" ng-click="$ctrl.loadDataSource()">{{ "RETRY" | translate }}</div>
    <div class="go-up" mc-scroll-to-top></div>
</div>
