.photos {
  .photo {
    width: 100%;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $secondary-color;

    & > .photo-img {
      display: inline-block;
      vertical-align: top;
      width: 30%;
      max-width: 250px;

      @include image-on-background; // stylelint-disable-line at-rule-no-unknown
    }

    & > .photo-desc {
      display: inline-block;
      width: calc(100% - 35%);

      @media (min-width: $screen-lg-min) {
        width: calc(100% - 270px);
      }
    }
  }
}
