<nav id="navigationbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid navigation-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="$ctrl.isNavCollapsed = !$ctrl.isNavCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">{{ $ctrl.pageDesc }}</a>
    </div>
    <div class="collapse navbar-collapse text-center" uib-collapse="$ctrl.isNavCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left hidden-xs">
          <button type="button" class="btn btn-default fa fa-line-chart" ng-if="$ctrl.canShowAnalysis"
                  uib-popover-html="$ctrl.analysis" popover-class="popover-analysis" popover-append-to-body
                  popover-placement="bottom" popover-trigger="click" popover-is-open="$ctrl.isPopoverOpened"
                  ng-click="$ctrl.isPopoverOpened = !$ctrl.isPopoverOpened"></button>
        </form>
        <form class="navbar-form navbar-left hidden-xs">
          <button type="button" class="btn btn-default fa fa-server" ng-if="$ctrl.canOpenJsonServer"
                  ng-click="$ctrl.openJsonServer()"></button>
        </form>
        <li>
          <a href="" ng-click="$ctrl.goToUsers()">
            <span class="fa fa-users menu-icon"></span>{{ "NAVIGATION_BAR.USERS" | translate }}</a>
        </li>
        <li>
          <a href="" ng-click="$ctrl.goToAlbums()">
            <span class="fa fa-book menu-icon"></span>{{ "NAVIGATION_BAR.ALBUMS" | translate }}</a>
        </li>
        <li class="dropdown" uib-dropdown on-toggle="toggled($ctrl.languageDropdown)">
          <a class="dropdown-toggle" uib-dropdown-toggle>
            {{ ::$ctrl.selectedLanguageId }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li ng-repeat="language in ::$ctrl.languages">
              <a ng-click="$ctrl.selectLanguage(language)">{{ ::language }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
