.posts {
  .addon {
    color: $accent-color;
  }

  .post {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $app-black;

    & .post-title {
      font-weight: bold;
    }

    & .arrow {
      background-size: contain;
      background-repeat: no-repeat;
      height: 35px;
      width: 20px;
    }

    & .arrow.on {
      background-image: url("../imgs/chevron-up.svg");
    }

    & .arrow.off {
      background-image: url("../imgs/chevron-down.svg");
    }
  }

  .post:hover {
    background-color: $app-gray-1;
    color: $gray-color;
    transition: background-color 0.7s;
  }
}

@import "post-comments/post-comments.component";
