.todos {
  .addon {
    color: $accent-color;
  }

  .todo {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $app-black;

    & .todo-check {
      & > .done {
        @extend .fa-check;

        color: $primary-color;
      }

      & > .pending {
        @extend .fa-close;

        color: $danger-color;
      }
    }
  }
}
