.todos {
  .addon {
    color: $accent-color;
  }

  .todo {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $app-black;

    & .todo-check {
      & > .done {
        @extend .fa-check; // stylelint-disable-line at-rule-no-unknown

        opacity: 1;
        transition: opacity 0.5s ease-in-out;
        color: $primary-color;
      }

      & > .pending {
        @extend .fa-window-close; // stylelint-disable-line at-rule-no-unknown

        opacity: 0.6;
        transition: opacity 0.5s ease-in-out;
        color: $danger-color;
      }
    }
  }
}
