<div class="container-fluid albums">

    <div class="row">
        <div class="col-xs-12">
            <div class="input-group">
                <input type="search" class="form-control" ng-change="$ctrl.textFilterDidChange()" ng-model="$ctrl.textFilter" placeholder="{{ ::$ctrl.textFilterPlaceholder }}">
                <span class="input-group-addon addon"  ng-click="$ctrl.resetTextFilter()">
                    <span class="fa fa-search" ng-show="!$ctrl.textFilter"></span>
                    <span class="fa fa-remove" ng-show="$ctrl.textFilter"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="clearfix" infinite-scroll="$ctrl.loadDataSourceNextPage()" infinite-scroll-disabled="$ctrl.isInfiniteScrollDisabled" infinite-scroll-distance="1">
        <div class="row album" ng-click="$ctrl.goToPhotos(album)" ng-repeat="album in $ctrl.dataSource track by album.id">
            <div class="col-xs-11">
                <div class="album-title"> {{ ::$ctrl.getAlbumDesc(album) }}</div>
            </div>
            <div class="col-xs-1">
                <span class="fa fa-3x fa-angle-right arrow"></span>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="full-width-message" ng-show="$ctrl.isLoadingData"><mc-localized-string key="LOADING"></mc-localized-string></div>
    <div class="full-width-message" ng-show="$ctrl.hasNoData"><mc-localized-string key="NO_RESULT"></mc-localized-string></div>
    <div class="full-width-message" ng-show="$ctrl.isLoadCompleted"><mc-localized-string key="LOAD_COMPLETED"></mc-localized-string></div>
    <div class="full-width-message" ng-show="$ctrl.shouldRetry" ng-click="$ctrl.loadDataSourceFirstPage()"><mc-localized-string key="RETRY"></mc-localized-string></div>
    <div class="go-up" mc-scroll-to-top></div>
</div>
