@import "photos/photos.component";

.albums {
  .addon {
    color: $accent-color;
  }

  .album {
    padding-top: 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid $app-black;

    & .album-title {
      display: inline-block;
    }

    & .arrow {
      @extend .fa-angle-right; // stylelint-disable-line at-rule-no-unknown

      color: $primary-color;
    }
  }

  .album:hover {
    background-color: $app-gray-1;
    color: $gray-color;
    transition: background-color 0.7s;
  }
}
