.albums {
  .addon {
    color: $accent-color;
  }

  .album {
    padding-top: 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid $app-black;

    & .album-title {
      display: inline-block;
    }

    & .arrow {
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../imgs/chevron-right.svg");
      height: 35px;
      width: 20px;
    }
  }

  .album:hover {
    background-color: $app-gray-1;
    color: $gray-color;
    transition: background-color 0.7s;
  }
}

@import "photos/photos.component";
