// -------------------------------------------------------
// App variables

$primary-color: #00b233 !default;
$accent-color: #fff !default;
$secondary-color: #333 !default;
$info-color: #03a9f4;
$success-color: #4caf50;
$warning-color: #ff9800;
$danger-color: #f44336;
$gray-color: #9e9e9e;

// -------------------------------------------------------
// Bootstrap variables

//== Colors
$brand-primary: $primary-color;
$brand-success: $success-color;
$brand-info: $info-color;
$brand-warning: $warning-color;
$brand-danger: $danger-color;

//== Typography
$font-size-base: 16px;
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;

//== Grid system
$grid-gutter-width: 8px;

//== Navbar
$navbar-height: 50px;
$navbar-margin-bottom: 0;
$navbar-border-radius: 0;

$navbar-default-color: $accent-color;
$navbar-default-bg: $secondary-color;
$navbar-default-border: $accent-color;

$navbar-default-link-color: $accent-color;
$navbar-default-link-hover-color: $accent-color;
$navbar-default-link-hover-bg: $app-transparent;
$navbar-default-link-active-color: $secondary-color;
$navbar-default-link-active-bg: $accent-color;
$navbar-default-link-disabled-color: $accent-color;
$navbar-default-link-disabled-bg: $secondary-color;

//== Buttons
$btn-default-color: $accent-color;
$btn-default-bg: $primary-color;

$input-group-addon-bg: $primary-color;

// -------------------------------------------------------
// Font awesome variables

// -------------------------------------------------------
// Common style

.full-width-message {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.5 * $font-size-base;
  text-align: center;
  font-weight: bold;
}

.go-up {
  // stylelint-disable at-rule-no-unknown
  @extend .fa;
  @extend .fa-3x;
  @extend .fa-chevron-circle-up;
  // stylelint-enable at-rule-no-unknown

  position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: $primary-color;
  opacity: 0.7;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
}

.cursor-pointer {
  cursor: pointer;
}

input.ng-invalid,
select.ng-invalid,
textarea.ng-invalid {
  color: $danger-color;
  border-color: $danger-color;
}

input.ng-invalid-mc-custom-validator-error,
select.ng-invalid-mc-custom-validator-error,
textarea.ng-invalid-mc-custom-validator-error {
  color: $danger-color;
  border-color: $danger-color;
}

// angular-loading-bar override style
#loading-bar .bar {
  background: $primary-color !important;
  height: 4px !important;
}
