// -------------------------------------------------------
// Select

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  color: $secondary-color;
  border: 1px solid $secondary-color;
}

select::-ms-expand {
  display: none;
}

option:not(:checked) {
  background-color: $accent-color !important;
}
